.root {
  flex: 1;
  position: relative;
  border: solid 1px rgb(var(--color-neutral));
  border-radius: 0.5rem;

  &FullHeight {
    height: 100%;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 1rem;
  padding-left: 1rem;
  margin: 0 1rem -2rem 1rem;
  transform: translateY(-51%);
  background-color: rgb(var(--color-foreground));
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgb(var(--color-neutral));
}

.content {
  padding: 2rem;
}
