.background {
  opacity: 0.75;
  object-fit: cover;
  scale: -1 1;
}

.mobileNav {
  height: calc(100% - 113px);
}

.main {
  flex: 1;
  align-items: stretch;
}

.layoutContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;

  .MobileMenuContainer {
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    
    .MobileMenu {
      display: flex;
      justify-content: center;
      padding: 1rem 0 1rem 0;
      background: rgb(var(--color-foreground));
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      border: solid 1px rgb(var(--color-text));
    }
  }
}