.news {
  width: 350px;
  position: relative;
  min-height: 150px;
  background-color: rgb(var(--color-foreground));
  justify-content: space-between;

  &Date {
    flex: 0;
    min-width: 85px;
  }

  &Text {
    padding: 0 1rem;
    font-size: 0.8rem;
    opacity: 0.8;
  }
}
