.sidebarContainer {
  display: grid;
  grid-template-columns: 1fr;
  transition: grid-template-columns 0.5s;

  .sidebar {
    overflow: hidden;
  }

  &.closed {
    grid-template-columns: 0fr;
  }
}

// TODO: animation GO BACK