.main {
  background-color: rgb(var(--color-foreground));
  display: flex;
  height: 100%;
}

.aside {
  flex-grow: 1;
  flex-basis: 350px;
  flex-shrink: 1;
  max-width: 350px;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 2rem 2rem 0 2rem;
}

.nameWrapper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.content {
  width: 100%;
  border-top: solid 1px rgb(var(--color-neutral));
  border-bottom: solid 1px rgb(var(--color-neutral));
  padding: 4rem 2rem;
  position: relative;
}

.footer {
  padding: 0 1rem 1rem 1rem;
}

.backgroundWrapper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  position: relative;
}

.background {
  object-fit: cover;
  object-position: left;
  scale: -1 1;
}
