.main {
  background-color: rgb(var(--color-foreground));
  display: flex;
  height: 100%;
}

.aside {
  flex-grow: 1;
  flex-basis: 450px;
  flex-shrink: 1;
  max-width: 350px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nameWrapper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.content {
  width: 100%;
  border: solid 1px rgb(var(--color-neutral));
  padding: 2rem;
  border-radius: 0.25rem;
  position: relative;
}

.backgroundWrapper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.background {
  width: 100%;
  object-fit: cover;
  object-position: left;
  scale: -1 1;
}

.gradient {
  position: absolute;
  inset: 0;
  // background: linear-gradient(
  //   90deg,
  //   rgb(var(--color-foreground)) 0%,
  //   rgb(var(--color-foreground) / 0%) 30%
  // );

  // background: radial-gradient(
  //   circle,
  //   rgb(var(--color-foreground) / 0%) 83.5%,
  //   rgb(var(--color-foreground)) 84%
  // );

  // mask-image: linear-gradient(to right, black 50%, transparent 50%);
}
