.canvas {
  position: relative;
  border: 2px dashed rgb(var(--color-foreground-inverted) / 80%);
  border-radius: 0.5rem;
  flex-direction: column;
  padding: 0 2rem;
  display: flex;
  height: 100%;
  overflow-y: auto;
  width: 500px;
  height: 80vh;

  &Item {
    height: 48px;
    transition:
      height 400ms cubic-bezier(0.34, 1.56, 0.64, 1),
      padding 400ms cubic-bezier(0.34, 1.56, 0.64, 1),
      opacity 400ms cubic-bezier(0.34, 1.56, 0.64, 1),
      border-color 400ms cubic-bezier(0.34, 1.56, 0.64, 1),
      margin 400ms cubic-bezier(0.34, 1.56, 0.64, 1);
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    display: grid;
    place-content: center;
    overflow: hidden;
    cursor: grab;
    user-select: none;

    &:hover {
      border-color: rgb(var(--color-foreground-inverted) / 20%);
    }

    &Closed {
      height: 0;
      padding: 0;
      opacity: 0;
      margin: -1rem 0;
      cursor: grabbing !important;
    }

    &Active {
      border-color: rgb(var(--color-foreground-inverted) / 80%) !important;
    }
  }

  &Bottom {
    flex: 1;
  }
}

.spacer {
  padding: 1rem 0;
  overflow: hidden;

  &Inner {
    height: 48px;
    margin: 1rem 0;
    background-color: rgb(var(--color-foreground-inverted) / 30%);
    border-radius: 0.25rem;
    transition:
      height 400ms cubic-bezier(0.34, 1.56, 0.64, 1),
      margin 400ms cubic-bezier(0.34, 1.56, 0.64, 1);

    .spacerClosed & {
      height: 0;
      margin: 0;
    }
  }
}
