// .weekHidden {
//     max-width: 20%;
//     padding: 0 0.5rem;
// }

// .week {
//     min-width: 500px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     padding: 0, 0.5rem;
// }

.calendar {
  position: relative;
}

.row {
  border-top: solid 1px rgb(var(--color-background));

  &:nth-of-type(odd) {
    background-color: rgb(var(--color-midground));
  }

  .room {
    display: flex;
    max-width: 20%;
    align-items: center;
    border-right: solid 1px rgb(var(--color-background));
    color: var(--mantine-color);
    padding: 0.5rem;
  }
}

.reservationContainer {
  position: relative;
}

.reservation {
  // transition....
  position: absolute;
  z-index: 10;
  margin-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // border-radius: 1rem;
  // right blue and dark mode?
  // background-color: var(--mantine-color-blue-9);
  // padding: 0.125rem 0.5rem;
  // color: rgb(var(--color-text));
  // text-decoration: none;

  &.begin {
    // border-left: solid 10px red;
    // background-color: var(--mantine-color-green-6);
    // background-color: var(--mantine-color-blue-7);
  }
}

.noRooms {
  border-top: solid rgb(var(--color-background)) 1px;
  text-align: center;
}

.sideBarIcon {
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  //   height: 2rem;
  //   width: 2rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-midground));
  border: solid 1px rgb(var(--color-background));
  border-radius: 100%;
  padding: 0.25rem;
}
