// .weekHidden {
//     max-width: 20%;
//     padding: 0 0.5rem;
// }

// .week {
//     min-width: 500px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     padding: 0, 0.5rem;
// }

.calendarOverview {
  transition: gap 0.2s ease-in;
}

.calendarContainer {
  flex-grow: 1;
}

.calendar {
  position: relative;
  flex-grow: 1;
}

.row {
  border-top: solid 1px rgb(var(--color-background));

  &:nth-of-type(odd) {
    background-color: rgb(var(--color-midground));
  }

  .room {
    display: flex;
    max-width: 20%;
    align-items: center;
    border-right: solid 1px rgb(var(--color-background));
    color: var(--mantine-color);
    padding: 0.5rem;
  }
}

.reservationContainer {
  position: relative;
}

.reservation {
  position: absolute;
  z-index: 10;
  margin-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.begin {
    // border-left: solid 10px red;
    // border gradient?
  }
}

.noRooms {
  border-top: solid rgb(var(--color-background)) 1px;
  text-align: center;
}

.sideBarIcon {
  position: absolute;
  right: -1.5rem;
  top: -1.5rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-midground));
  border: solid 1px rgb(var(--color-background));
  border-radius: 100%;
  padding: 0.25rem;
}
